@import "variables";
@import "mixins";
@import "detailView";
@import "loading";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: lighten($background, 10);

  @include largeScreens {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}

#app {
  width: 100%;
  height: 100dvh;
  color: $text-color;
  display: flex;
  flex-direction: column;

  @include largeScreens {
    width: 400px;
    height: $max-height-dekstop;
    border-radius: $border-radius;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  }
}
